<nav>
    <h1>frentprice</h1>
        <ul>
            <li><a href="/">anasayfa</a></li>
            <li><a href="/about">icerikler</a></li>
            <li><a href="/login">login</a></li>
        </ul>
</nav>

