<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>icerik</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut itaque alias debitis atque distinctio quos sed esse harum, sapiente veritatis ipsa iste facere id eius possimus optio suscipit ratione blanditiis!</p>
    </section>
</body>
</html>