<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1><%=content.title%></h1>
        <p><%=content.long%></p>
    </section>
</body>
</html>